<form class="mt-4" name="container-form" method="POST" action="/blogs/handle-form-action">
    <div>
      <h3>My Blogs</h3>    
      <div class="mt-4 d-flex align-items-center">
        <select class="form-select-sm checkbox-select-all-options" name="action" required>
          <option value="">-- Action --</option>
          <option value="delete">Delete</option>
        </select>
        <button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled">Execute</button>
      </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                  </div>
                </th>
                <th scope="col">
                  Title
                </th>
                <th scope="col">
                  Description
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each blogs}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="blogIds[]"value="{{this._id}}">
                    </label>
                  </div>
                </td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href="/blogs/{{this._id}}/blogedit" class="btn btn-link">edit</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal"data-id="{{this._id}}" data-bs-target="#delete-blog-modal">delete</a>
                </td>
            </tr>
            {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  You haven't posted any blogs yet
                  <a href="/blogs/blogcreate">Up Blog</a>
                </td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete  --}}
<div class="modal fade" id="delete-blog-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this blog?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="btn-delete-blog" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>


{{!-- Delete hidden form --}}
<form name="delete-blog-form" method="POST"></form>
<script>
  document.addEventListener('DOMContentLoaded', function(){
    const exampleModal = document.getElementById('delete-blog-modal')
    var deleteForm = document.forms['delete-blog-form']
    var containerForm = $('form[name="container-form"]')
    var blogId
    var checkboxAll = $('#checkbox-all')
    var blogItemCheckbox = $('input[name="blogIds[]"]')
    var checkAllSubmitBtn = $('.check-all-submit-btn')

    //when dialog confirm clicked
    if (exampleModal) {        
        exampleModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            blogId = button.getAttribute('data-id')
        })    
    }
    const btnDeleteBlog = document.getElementById('btn-delete-blog')
    
    //when delete product btn clicked
    btnDeleteBlog.onclick = function(){
        deleteForm.action = '/blogs/'+ blogId +'?_method=DELETE'
        deleteForm.submit()
    }

    //Checkbox all changed
    checkboxAll.change(function(){
      var allIsChecked = $(this).prop('checked')
      blogItemCheckbox.prop('checked', allIsChecked)
      renderCheckAllSubmitBtn()
    })

    //Blog item checkbox changed
    blogItemCheckbox.change(function(){
      var allIsChecked = blogItemCheckbox.length === $('input[name="blogIds[]"]:checked').length
      checkboxAll.prop('checked', allIsChecked)
      renderCheckAllSubmitBtn()
    })

    //Check all submit btn clicked
    containerForm.on('submit', function(e){
      var isSubmitable = !checkAllSubmitBtn.hasClass('disabled')
      if(!isSubmitable){
        e.preventDefault()
      }
    })
    //Re-render check all submit btn
    function renderCheckAllSubmitBtn(){
      var checkedCount = $('input[name="blogIds[]"]:checked').length
      console.log(checkedCount)
      if(checkedCount > 0){
        checkAllSubmitBtn.attr('disabled',false)
      } else {
        checkAllSubmitBtn.attr('disabled', true)
      }
    }
  })
</script>